{{- if and (.Values.rbac.create) (.Values.rbac.clusterScope) }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: fastflow-{{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: fastflow
subjects:
  - kind: ServiceAccount
    name: fastflow
    namespace: "{{ .Release.Namespace }}"
{{- end }}
